@{
    ViewBag.Title = "About";
}

<div class="container">

    <div class="row">

        <div class="col-md-12 text-left">

            <h3>
                Weddings and more <span class="normal-font">-</span> what can River Lane offer?
            </h3>

            <p>
                River Lane is not your average photographer! As well as stunning wedding photos, River Lane also specialise in capturing beautiful
                @Html.ActionLink("family portraits", "portraits", "services"), memorable
                @Html.ActionLink("prom photos", "proms", "services")
                and stand out from the crowd
                @Html.ActionLink("property market photos", "property", "services")!
                That's not all... River Lane also provides an exclusive
                @Html.ActionLink("graphic design service", "design", "services")
                with creative ideas to make your wedding that extra bit special!
            </p>

            <h3>
                Who's behind River Lane Photography?
            </h3>
            <p>
                I’m James, a fun loving photographer with a passion for capturing magical memories. I absolutely love being around people and truly enjoy photographing weddings.
            </p>
            <p>
                My skill as a photographer is to make you feel incredibly relaxed and comfortable having your photo taken. I am very sociable and will blend into any wedding crowd allowing me to get the best out of you all. With an abundance of humour and energy I will make your day that extra bit special.
            </p>
            <p>
                I'm not here to intrude, simply to capture all those special moments that you've dreamt about along with all the details you've agonised over. I believe that your wedding should be as fun and natural as can be and feel incredibly privileged to be a part of your day.
            </p>

            <h3>
                What's my style?
            </h3>

            <p>
                I want your wedding images to express your individuality - whether you're a DJ, a Lawyer or a Yummy Mummy with a passion for shoes! Your wedding is unique - just like you, so why should your photos be any different!?
            </p>
            <p>
                Vintage, contemporary or classical? I can capture your wedding photos to match your dream style!
            </p>

            <h3>
                Commercial Graphic Design
            </h3>

            <p>
                With 15 years industry experience, I can provide a graphic design service from as small as business cards to as large as you like! Corporate rebranding, exhibition or campaign design, I can then source all your print and web needs, and follow it through to delivery to you - a complete project management service. A design dedicated website is coming soon!
            </p>

        </div>

    </div>

</div>